---
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";
import fetchApi from "../../lib/strapi";
import type CallToAction from "../../interfaces/callToAction";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const data = await fetchApi<CallToAction>({
  endpoint: "call-to-action",
  wrappedByKey: "data",
  query: { locale: lang, populate: "*" },
});

const { title, description } = data;
---

<section class="section mb-14">
  <div class="container">
    <div
      class="bg-text-dark px-10 py-16 xl:p-20 rounded-[40px] relative overflow-hidden">
      <div
        class="absolute !top-1/2 !-translate-y-1/2 !left-1/2 !-translate-x-1/2 rotate-[7.83deg] pointer-events-none"
        data-aos="fade-in"
        data-aos-delay="200">
        <ImageMod
          class="h-[641px] w-auto"
          src={"/images/cta-bg.svg"}
          alt="cta-image"
        />
      </div>
      <div class="row items-center justify-center">
        <div class="lg:col-8 text-center">
          <h2
            set:html={markdownify(title)}
            class="text-text-light mb-4"
            data-aos="fade-up-sm"
          />
          <p
            set:html={markdownify(description)}
            class="text-text-light text-lg/[inherit] mb-6"
            data-aos="fade-up-sm"
            data-aos-delay="50"
          />
          <a
            class="btn btn-primary-light"
            href={translatePath("/contact/")}
            target="_self"
            rel="noopener"
            data-aos="fade-up-sm"
            data-aos-delay="200">
            {t("nav.contact")}
            <span class="icon-wrapper">
              <span class="icon">
                <DynamicIcon
                  icon={t("direction") == "ltr"
                    ? "FaArrowRight"
                    : "FaArrowLeft"}
                />
              </span>
              <span class="icon" aria-hidden="true">
                <DynamicIcon
                  icon={t("direction") == "ltr"
                    ? "FaArrowRight"
                    : "FaArrowLeft"}
                />
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
