---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const contact_form_action = import.meta.env.STRAPI_URL + "/api/contact-request";

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="lg:col-7 lg:pe-20 lg:pt-16" data-aos="fade-left-sm">
        {title && <h2 class="md:h1 mb-6" set:html={markdownify(title)} />}
        {
          description && (
            <p class="text-lg/[inherit]" set:html={markdownify(description)} />
          )
        }

        <div class="mt-10 flex flex-col gap-10 sm:flex-row xl:mt-20">
          <div>
            <div
              class="mb-3 flex h-12 w-12 items-center justify-center rounded-full bg-tertiary">
              <ImageMod
                class="h-6 w-6 object-cover"
                src="/images/icons/svg/24.svg"
                alt={`icon related to ${t("support.title")}`}
              />
            </div>
            <h3
              class="h6 mb-2 mt-5"
              set:html={markdownify(t("support.title"))}
            />
            <p
              class="text-lg/[inherit]"
              set:html={markdownify(t("support.description"))}
            />
          </div>
        </div>
      </div>
      <div
        class="relative pt-24 lg:col-5 lg:pt-16"
        data-aos="fade-left-sm"
        data-aos-delay="200">
        <ImageMod
          class="absolute left-1/2 top-5 -z-10 w-20 -translate-x-1/2 lg:-top-7"
          src={"/images/logo-icon.svg"}
          alt="hero image"
          loading="eager"
        />
        <div class="rounded-2xl bg-light p-5 md:p-10">
          <form class="row g-4" action={contact_form_action} method="POST">
            <div class="lg:col-6">
              <label for="first-name" class="form-label">
                {t("contact.firstname")}
                <span class="text-red-500">*</span>
              </label>
              <input
                id="first-name"
                name="firstName"
                class="form-input"
                placeholder={t("contact.firstname")}
                required
                type="text"
              />
            </div>
            <div class="lg:col-6">
              <label for="last-name" class="form-label">
                {t("contact.lastname")}
                <span class="text-red-500">*</span>
              </label>
              <input
                id="last-name"
                name="lastName"
                class="form-input"
                placeholder={t("contact.lastname")}
                required
                type="text"
              />
            </div>
            <div class="col-12">
              <label for="email" class="form-label">
                {t("contact.email")}
                <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="youremail@email.com"
                required
                type="email"
              />
            </div>
            <div class="col-12">
              <label for="company-name" class="form-label">
                {t("contact.companyname")}
                <span class="text-red-500">*</span>
              </label>
              <input
                id="company-name"
                name="companyName"
                class="form-input"
                placeholder={t("contact.companyname")}
                required
                type="text"
              />
            </div>
            <div class="col-12">
              <label for="subject" class="form-label">
                {t("contact.subject")}
                <span class="text-red-500">*</span>
              </label>
              <input
                id="subject"
                name="subject"
                class="form-input"
                placeholder={t("contact.subject")}
                required
                type="text"
              />
            </div>
            <div class="col-12">
              <label for="message" class="form-label">
                {t("contact.writemessage")}
                <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder={t("contact.writemessage")}
                required
                rows="3">
              </textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-regular">
                {t("contact.sendmessage")}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
