---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { whoWeAre, whowWeServe } = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-10">
        <div class="row g-5">
          <div class="md:col-6" data-aos="fade-up-sm" data-aos-delay={0 * 150}>
            <div
              class="rounded-3xl flex min-h-full flex-col justify-start bg-light p-8">
              <h3 class="h4 mb-4" set:html={markdownify(t("whoweare"))} />
              <p
                class="mb-auto text-lg/[inherit]"
                set:html={markdownify(whoWeAre)}
              />
              <ImageMod
                class="mt-10 rounded-3xl custom-shadow-sm"
                src="/images/features/1.png"
                alt={`icon related to Continuously evaluates potential security threats and impact`}
              />
            </div>
          </div>
          <div class="md:col-6" data-aos="fade-up-sm" data-aos-delay={1 * 150}>
            <div
              class="rounded-3xl flex min-h-full flex-col justify-start bg-light p-8">
              <h3 class="h4 mb-4" set:html={markdownify(t("whoweserve"))} />
              <p
                class="mb-auto text-lg/[inherit]"
                set:html={markdownify(whowWeServe)}
              />
              <ImageMod
                class="mt-10 rounded-3xl custom-shadow-sm"
                src="/images/features/2.png"
                alt={`icon related to Presents a view of your organization security posture`}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
