---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

// Function to replace {year} this from string to year
function replaceYear(text: string) {
  const year = new Date().getFullYear();

  return text.replace("{year}", year.toString());
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="bg-light py-16 xl:py-28">
  <div class="container" data-aos="fade-up-sm">
    <div class="row gy-6 justify-between lg:g-4 text-center sm:text-start">
      <div class="sm:col-6 lg:col-4 lg:pe-16">
        <div class="mb-5">
          <Logo />
        </div>
        <Social source={social?.main} className="social-icons" />
      </div>
      <div class="sm:col-6 md:col-6 lg:col-4 mt-5">
        <div
          class="flex flex-wrap gap-y-6 sm:flex-nowrap md:justify-end lg:justify-around flex-col items-center sm:flex-row sm:items-start">
          <div class="w-[160px]">
            <h3 class="mb-4 pt-2 text-base text-text-dark md:mb-9">
              {t("nav.resources")}
            </h3>
            <ul class="flex flex-col gap-3">
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/services/")}>
                  {t("nav.services")}
                </a>
              </li>
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/projects/")}>
                  {t("nav.projects")}
                </a>
              </li>
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/team/")}>
                  {t("nav.team")}
                </a>
              </li>
            </ul>
          </div>
          <div class="w-[160px]">
            <h3 class="mb-4 pt-2 text-base text-text-dark md:mb-9">
              {t("nav.quick_info")}
            </h3>
            <ul class="flex flex-col gap-3">
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/about/")}>
                  {t("nav.about")}
                </a>
              </li>
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/privacy-policy/")}>
                  {t("privacy")}
                </a>
              </li>
              <li>
                <a
                  class="font-medium transition hover:text-tertiary"
                  href={translatePath("/contact/")}>
                  {t("nav.contact")}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sm:col-7 md:col-6 lg:col-4 mt-5">
        <p
          class="mb-2.5 lg:mb-20"
          set:html={markdownify(t("footer_description"))}
        />
        <div
          class="mt-5 lg:mt-14"
          set:html={markdownify(replaceYear(t("copyright")))}
        />
      </div>
    </div>
  </div>
</footer>
